.outer {
  display: inline-block;
}

.outerBlock {
  display: block;
}

.inner {
  display: inline-block;
  will-change: transform, scale;
  transition: scale 0.2s var(--ease-out);
}

.innerBlock {
  display: block;
}

.outer:hover .inner {
  scale: 1.02;
}

@media (prefers-reduced-motion: reduce) {
  .inner {
    transform: none !important;
    scale: none !important;
    transition: none;
  }
}
